/* 
    footer style
*/

.footer {
  margin-top: auto;
  font-weight: 600;

  .footer-option_div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: $white;

    .footer-option_link {
      color: $dark_green;
      font-size: 16px;
      letter-spacing: 0px;
      padding: 0 15px;
      text-decoration: none;
    }

    .footer-option_link:nth-of-type(1) {
      border-right: 1px solid $dark_green;
    }
  }

  .footer-content {
    background-color: $footer_gray;
    padding: 8px 0;
    text-align: center;

    * {
      vertical-align: middle;
    }

    .footer-logo {
      height: 24px;
      padding-right: 16px;
      margin-right: 12px;
      border-right: 1px solid $gray;
    }

    .footer-content--span {
      font-size: 12px;
      color: $gray;
      margin: 0 4px;
    }
  }
}
