@font-face {
    font-family: 'Quicksand';
    src: url('../assets/Quicksand\ font\ 1/Quicksand-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.header {
    background-image: url("../assets/header_pattern_image.png");
    background-color: #25313F;
    background-blend-mode: multiply;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 11px 24px;
    height: 56px;
}

.fram-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 134px;
}

.navbar-menu {
    margin-left: auto;
}

.navbar ul {
    display: flex;
}

.navbar li {
    display: inline-block;
    list-style: none;
    height: 100%;
    position: relative;
}

.navbar li a {
    color: #3FD28B;
    font-size: 14px;
    padding: 19px 9px 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar li a.active {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
}

.navbar li img {
    height: 20px;
    margin: 0 16px;
}

.navbar-toolbox li:hover {
    cursor: pointer;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: 10px;
    text-align: center;
    font-size: 10px;
    display: block;
    width: 12px;
    height: 12px;
    background: #2A7FF3;
    border-radius: 50%;
}

.notification-badge--light {
    background-color: #ffffff;
    color: #000000;
}

.toggle-btn {
    background: none;
    border: none;
    display: none;
}

.toggle-btn:hover {
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .header {
        border-bottom: 2px solid #31B9E4;
        height: auto;
    }

    .fram-container {
        flex-wrap: wrap;
    }

    .navbar-toolbox {
        margin-left: auto;
    }

    .toggle-btn {
        display: block;
    }

    .navbar .navbar-menu {
        display: none;
        width: 100%;
        flex-wrap: wrap;
        order: 1;
    }

    .navbar-menu>li {
        flex: 1 1 100%;
        height: 40px;
        text-align: center;
    }
}

.content-body {
    background: #EEEEEE;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min(1080px, 100%) 1fr;
}

.main-div {
    padding: 0 24px;
    grid-column: 2;
    min-width: 0;
}


.sub-tab {
    background-color: #8DDC97;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    margin: 24px 0;
}

.sub-tab-item {
    height: 64px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #222222;
}

.sub-tab-item.active {
    border-bottom: 4px solid #222222;
}

.sub-tab-item--img {
    height: 32px;
}

.sub-tab-item-quantity {
    margin-left: 5px;
    font-size: 24px;
    font-weight: 900;
}

.filter-bar {
    display: flex;
    color: #686868;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid #686868;
    margin-bottom: 17px;
}

.course-paging {
    font-size: 12px;
    align-self: center;
}

.sorting-box {
    align-items: flex-start;
}

.sorting-box--lable {
    font-size: 12px;
}

.sorting-box--select {
    font-size: 16px;
    background: none;
    width: 200px;
    color: #333333;
    font-weight: 600;
    border-bottom: 1px solid #686868 !important;
    border: none;
    margin-right: 24px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-div {
    position: relative;
    flex: 1;
    padding: 24px;
    min-width: 476px;
    margin: 8px;
    background: #ffffff;
    max-width: 571px;
}

.card-body {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: #666666;
}

.card-body--img {
    width: 132px;
    height: 157px;
    margin-right: 16px;
}

.card-content-detail {
    flex: 1;
}

.card-header {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
}

.card-heading {
    grid-column: 1 / 11;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex: 1;
}

.favourite-btn {
    grid-column: 12;
}

.card-body p {
    margin: 7px 0;
}

.input-div--control {
    width: 100%;
    background: #ffffff;
    border: none;
    color: #222222;
    font-size: 16px;
    margin: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.input-div--control_arrow {
    appearance: none;
    padding-right: 20px;
    background-image: url("../assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) center;
    background-size: 20px;
    font-weight: 600;
}

.input-div--control:focus-visible {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    outline: 0;
}

.input-div--control:focus {
    border-bottom: 1px solid rgba(0, 0, 0, .12);

}

.input-div--control option {
    margin: 0;
}

select[value=-1] {
    color: #f00 !important;
}

.data-seprator {
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid #666666;
}

.class-detail span {
    font-weight: 900;
    color: #222222;
}

.card-footer {
    margin-top: 16px;
    padding: 16px 0 9px;
    border-top: 1px solid #666666;
    display: flex;
    justify-content: space-around;
}

.card-footer--btn {
    background: none;
    border: none;
}

.btn-disable {
    opacity: .4;
}

.btn {
    background: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.lable {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    padding: 4px 7px 2px 5px;
    text-transform: uppercase;
    color: #D80000;
    font-size: 10px;
    background: rgba(200, 0, 0, .2);
}

/* 
    footer style
*/

.footer {
    margin-top: auto;
    font-weight: 600;
}

.footer-option_div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #EEEEEE;
}

.footer-option_link {
    color: #1F7A54;
    font-size: 16px;
    letter-spacing: 0px;
    padding: 0 15px;
    text-decoration: none;
}

.footer-option_link:nth-of-type(1) {
    border-right: 1px solid #1F7A54;
}

.footer-content {
    background-color: #E0E1E1;
    padding: 8px 0;
    text-align: center;
}

.footer-content * {
    vertical-align: middle;
}

.footer-logo {
    height: 24px;
    padding-right: 16px;
    margin-right: 12px;
    border-right: 1px solid #616161;
}

.footer-content--span {
    font-size: 12px;
    color: #616161;
    margin: 0 4px;
}

.util-bold-font {
    font-weight: 900;
}