@import "./common_style";
@import "./nav_style";
@import "./footer_style";

.content-body {
  display: grid;
  // grid-template-columns: 1fr min(1080px, 100%) 1fr;

  .main-div {
    padding: 0 24px;
    // grid-column: 2;
    min-width: 0;

    .sub-tab {
      // background-color: #8DDC97;
      background-color: $bg_light_green;
      @include textCenter();
      /* height: 100px; */
      margin: 24px 0;
    }

    .sub-tab-item {
      @include textCenter();
      background: none;
      border: none;
      height: 64px;
      flex: 1;
      font-weight: 600;
      color: $blank;

      .sub-tab-item--img {
        height: 32px;
      }

      div * {
        vertical-align: middle;
      }

      .sub-tab-item-quantity {
        margin-left: 5px;
        font-size: 24px;
        font-weight: 900;
      }

      .sub-tab-item-lable {
        font-size: 16px;
      }
    }

    .active {
      border-bottom: 4px solid $blank;
    }

    .filter-bar {
      @include textCenter();
      // color: #686868;
      color: $gray;
      justify-content: space-between;
      height: 45px;
      border-bottom: 1px solid $gray;
      margin-bottom: 17px;

      .course-paging {
        font-size: 12px;
        align-self: center;
      }

      .sorting-box {
        align-items: flex-start;

        .sorting-box--lable {
          font-size: 12px;
        }

        .sorting-box--select {
          font-size: 16px;
          background: none;
          width: 200px;
          color: $blank;
          font-weight: 600;
          border: none;
          border-bottom: 1px solid $gray;
          margin-right: 24px;
        }
      }
    }

    .card-container {
      @include textCenter();
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(476px, 1fr));
      grid-gap: 12px;
      justify-items: center;
    }

    @media screen and (max-width: 769px) {
      .card-container {
        grid-template-columns: repeat(auto-fit, 1fr);
      }
    }
    .card-div {
      position: relative;
      // flex: 1 1 500px;
      width: 100%;
      padding: 24px 24px 0;
      // min-width: 476px;
      // max-width: 500px;
      margin: 8px;
      background: $pure_white;

      .card-body {
        display: flex;
        font-size: 12px;
        font-weight: 600;
        color: $gray;

        .card-body--img {
          width: 132px;
          height: 157px;
          margin-right: 16px;
        }

        .card-content-detail {
          flex: 1;

          .card-header {
            color: $blank;
            font-size: 16px;
            font-weight: 600;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            justify-content: space-between;

            .card-heading {
              grid-column: 1 / 11;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              flex: 1;
            }

            .favourite-btn {
              grid-column: 12;
            }
          }

          p {
            margin: 7px 0;
          }

          .class-detail span {
            font-weight: 900;
            color: $blank;
          }
        }
      }

      .card-footer {
        margin-top: 16px;
        padding: 16px 0 9px;
        border-top: 1px solid #666666;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

// select[value=-1] {
//     color: #f00 !important;
// }

.data-seprator {
  margin-left: 7px;
  padding-left: 7px;
  border-left: 1px solid $gray;
}

button:disabled {
  opacity: 0.4;
}
button:disabled:hover {
  cursor: auto;
}

.btn {
  background: none;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.status-lable {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  padding: 4px 7px 2px 5px;
  text-transform: uppercase;
  color: $expire_lable_red;
  font-size: 10px;
  background: $expire_lable_red_bg;
}
.text-green {
  color: $dark_green;
}
